# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

typechain
node_modules
artifacts
cache
.env
contracts/proxy_test
scripts/proxy_deploy.ts
contracts/demo_contracts/delegate_test
test/delegate_test.ts
cache_forge
out
lib